body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 20rem;
    background-color: gray;
    color: white;
    border-radius: 10px;
    text-align: center;
}